@tailwind base;
@tailwind components;
@tailwind utilities;

.Base {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.MainPage {
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.MainPage .Title {
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    color: coral;
}

.SearchButton, .CheckOutButton, .SignInButton, .SignOutButton, .ProfileButton {
    line-height: 11px;
}

.hidden-comment{
    background-color: red;
}
